MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>/<database>?retryWrites=true&w=majority
MONGODB_DB=pulse
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
PORT=8787
VAPID_PUBLIC_KEY=BHyyif9xvyovZKIn8sB7bY1-faXrTM4aCOCKmTibi6tydcXGW_cO0RBHXV-A-i_WBshFZ3Elt00CUG1ME68uPKc
VAPID_PRIVATE_KEY=NHz3DxMCRB3N1FUZ-N68wu4YHlFzWS1cZExsHlVhItE
VAPID_SUBJECT=mailto:alerts@pulse-intelligence.local